.outbox{
	width:800px;
	height:500px;
	border: 1px black solid;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

.box1 {
	height:200px;
	width:50%;
	background-color: green;
	display: inline-block;
}
.box2{
	height: 200px;
	width:50%;
	background-color: blue;
	display: inline-block;
	
}
.box3{
	height: 300px;
	width:33.33%;
	background-color:grey;
	display: inline-block;
	}
	.box4{
	height: 300px;
	width:33.33%;
	background-color:black;
	display: inline-block;
}
.box5{
	height: 300px;
	width:33.33%;
	background-color:orange;
	display: inline-block;
	}